* {
    margin:0;
    padding:0;
    text-align:center;
}

h1{
    background-color: black;
    color:white;
    height:5rem;
    display:flex;
    justify-content: center;
    align-items:center;
}

.choices {
    display:flex;
    justify-content:center;
    margin-top:3rem;
    gap:3rem;
}

.choice{
    height:150px;
    width:150px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.choice:hover{
    background-color:black;
}

img{
    height:140px;
    width:140px;
    object-fit:cover;
    border-radius:50%;
}

.score-board {
    /* background-color:red; */
    display:flex;
    justify-content: center;
    margin-top:3rem;
    gap:1rem;
}

.score {
    height:100px;
    width:100px;
    /* background-color:yellow; */
    justify-content:center;
    /* align-items:center; */
    font-size: 2rem;
}
#scoreword {
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.msg-container{
    margin-top:1rem;
}


#msg{
    background-color: black;
    color:white;
    padding:1rem;
    display:inline;
    font-size:2rem;
    border-radius:1rem;
}